@model Memory

@{
    ViewBag.Title = "Change";
}

<h2>Change</h2>

<form action="@Url.Action("Update")" method="post">
    <div class="form-group">
        @Html.LabelFor(x => x.Id, new { })
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Key, new { })
        @Html.TextBoxFor(x => x.Key, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Value, new { })
        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Category, new { })
        @Html.TextBoxFor(x => x.Category, new { @class = "form-control" })
    </div>

    <div class="row">
        <input type="submit" value="Update" />
    </div>

</form>

